# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive files
*.pem
*.key
*.crt
*.env
.env.*

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Python virtualenv
venv/
__pycache__/

# Node modules
node_modules/

# Docker
*.tar

# Misc
*.bak
*.swp
.idea/
